<!--Info sur le statut des projets -->
<div class="modal fade" id="projectStatusInfo" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">À propos de la colorisation des projets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="container p-3">
                    <li class="text-primary">Le projet est à l'arrêt avec au moins un job prêt</li>
                    <li class="text-secondary">Le projet est en attente que ses dépendances à d'autres projets soient satisfaites</li>
                    <li class="text-warning">Au moins un job est en cours d'exécution</li>
                    <li class="text-success">Tous les jobs du projet ont été exécutés avec succès</li>
                    <li class="text-danger">Le projet est terminé avec au moins un échec ou bloqué par une dépendance à un job échoué</li>
                </ul>
            </div>
        </div>
    </div>
</div>