<!--Info sur le projet -->
<div class="modal fade" id="projectInfo" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">À propos des statistiques</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><strong>Début du projet :</strong> Date de début du premier job traité </li>
                    <li><strong>Fin du projet :</strong> Date de fin du dernier job traité </li>
                    <li><strong>Durée du projet (ou durée calendaire) :</strong> Date de fin - Date de début du projet </li>
                    <li><strong>Coefficient de parallélisation :</strong> Somme des durées des jobs / Durée (calendaire) du projet <br> Attention ce calcul est indicatif, il ne prend pas en compte les interruptions de traitement.</li>    
                </ul>
            </div>
        </div>
    </div>
</div>