<!-- views/partials/sidebar.ejs -->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">GPAO<sup><%= version %></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Projets
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Créer un projet</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="javascript:document.getElementById('file-json').click();">A partir d'un Json</a>
          <input id="file-json" type="file" name="name" onchange="jsonChanged(this.files[0])" style="display: none;" />
          <a class="collapse-item" href="javascript:document.getElementById('file-txt').click();">A partir d'un fichier texte</a>
          <input id="file-txt" type="file" name="name" onchange="txtChanged(this.files[0])" style="display: none;" />
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
          Liens
        </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ign-ign-packo/ign-gpao" target="_blank">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= server %>/api/client">
            <i class="fab fa-python"></i>
            <span>Client GPAO</span>
          </a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Heading -->
        <div class="sidebar-heading">
          Maintenance
        </div>

        <li class="nav-item">
          <a class="nav-link" href="javascript:cleanDatabase();">
            <i class="fas fa-trash-restore"></i>
            <span>Vider la base</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->