<div class="card shadow mb-4 border-left-info h-100 py-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Clients <span class="far fa-question-circle collapse-item text-dark" data-toggle="modal" data-target="#hostStatusInfo"></span></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function() {
        const data = JSON.parse('<%- data %>');
        const columns = JSON.parse('<%- columns %>');
    
        var table = $('#dataTable').DataTable( {
            "language": {
                "lengthMenu": "Afficher _MENU_ par page",
                "zeroRecords": "Aucun éléments",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucun enregistrement disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Rechercher",
                "paginate": {
                    "first":	"Premier",
                    "previous":	"Pr&eacute;c&eacute;dent",
                    "next":	"Suivant",
                    "last":	"Dernier"
                }
            },
            "order": [[ 0, "asc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "pageLength": 100,
            "dom": '<"d-flex m-1"<"mr-auto"l><f>><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
            "data": data,
            "columns": columns,
            "autoWidth": false,
            "rowCallback": function( row, data, index ) {
              if ((data.active + data.idle + data.running) == 0) {
                $('td', row).addClass('text-danger');
              } if (data.idle > 0 && data.active == 0) {
                $('td', row).addClass('text-secondary');
              } if (data.active > 0) {
                $('td', row).addClass('text-success');
              } if (data.running > 0) {
                $('td', row).addClass('text-warning');
              }
            }
          } 
        );

        // Add event listener for actions
        var buttonGroup = jQuery('<div class="btn-group btn-group-toggle" data-toggle="buttons">');
        $("div.toolbar_tab").append(buttonGroup);

        var i = jQuery('<i></i>');
        i.addClass('fas fa-play')
        var button = jQuery('<button></button>');
        button.addClass('btn btn-success');
        button.attr('type', 'button')
              .attr('data-toggle', "tooltip")
              .attr('title', 'Activer toutes les sessions des machines visibles')
              .on('click', function () {
                var jsonHosts = getFilteredHosts()
                setNbActiveSessions(jsonHosts, 10000)
              } )
              .append(i)
              .append(' Activer toutes les sessions');

        buttonGroup.append(button);
        
        var i = jQuery('<i></i>');
        i.addClass('fas fa-stop')
        var button = jQuery('<button></button>');
        button.addClass('btn btn-danger mr-4');
        button.attr('type', 'button')
              .attr('data-toggle', "tooltip")
              .attr('title', 'Désactiver toutes les sessions des machines visibles')
              .on('click', function () {
                var jsonHosts = getFilteredHosts()
                setNbActiveSessions(jsonHosts, 0)
              } )
              .append(i)
              .append(' Désactiver toutes les sessions');
        buttonGroup.append(button);

        var i = jQuery('<i></i>');
        i.addClass('fas fa-cogs')
        var button = jQuery('<button></button>');
        button.addClass('btn btn-outline-info');
        button.attr('type', 'button')
              .attr('data-toggle', "tooltip")
              .attr('title', 'Paramétrer un nombre de sessions actives sur les machines visibles')
              .on('click', function () {
                var jsonHosts = getFilteredHosts()
                var value = window.prompt(`Saisir le nombre de Threads à activer pour toutes les machines visibles`, 0);
                setNbActiveSessions(jsonHosts, value)
              } )
              .append(i)
              .append(' Paramétrer un nombre de sessions actives');
        $("div.toolbar_tab").append(button);

        $('#dataTable tbody').on('click', 'button.view_host', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            var host = row.data().host
            var jsonHosts = JSON.parse('{"hosts":[]}');
            jsonHosts["hosts"].push(host);
           
            var value = window.prompt(`Modifier le nombre de Threads actifs pour ${host}, ${row.data().active}`, 0);
            setNbActiveSessions(jsonHosts, value);
        } );    
    } );
</script>