<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dépendances</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
  <script>

    $(document).ready(function() {
        const data = JSON.parse('<%- data %>');
        const columns = JSON.parse('<%- columns %>');
    
        var table = $('#dataTable').DataTable( {
            "language": {
                "lengthMenu": '<div class="input-group input-group-sm"><div class="input-group-prepend"><label class="input-group-text">Items par page</label></div>_MENU_</div>',
                "zeroRecords": "Aucun éléments",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucun enregistrement disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Rechercher",
                "paginate": {
                    "first":	"Premier",
                    "previous":	"Pr&eacute;c&eacute;dent",
                    "next":	"Suivant",
                    "last":	"Dernier"
                }
            },
            "order": [[ 0, "asc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "pageLength": 10,
            "dom": '<"d-flex m-1"<"mr-auto"f><"mr-2"l><"#pagination">><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
            "data": data,
            "columns": columns,
            "rowCallback": function( row, data, index ) {

              var id = $('td:eq(1)', row);
              id.html('<a href="<%= base %>/job/'+data.job_id+'">'+data.job_id+'</a>')

              var name = $('td:eq(2)', row);
              name.html('<a href="<%= base %>/job/'+data.job_id+'">'+data.job_name+'</a>')

              var status = data.job_status;
              switch(status){
                  case "failed":
                      $('td, a', row).addClass('text-danger');
                      break;
                  case "running":
                      $('td, a', row).addClass('text-warning');
                      break;
                  case "waiting":
                      $('td, a', row).addClass('text-secondary');
                      break;
                  case "done":
                      $('td, a', row).addClass('text-success');
                      break;
                  case "ready":
                      $('td, a', row).addClass('text-primary');
                      break;                         
            }
        }
          } 
        );

      //gestion du choix de la page
      var group_page_setter = jQuery('<div class="input-group input-group-sm">'+
                                      '<div class="input-group-prepend">'+
                                        '<label class="input-group-text">Aller à la page</label>'+
                                      '</div>'+
                                      '<input type="number" class="form-control" id="page-setter" name="" min="1" style="width: 70px;" autocomplete="off"/>'+
                                    '</div>')  
      $("#pagination").append(group_page_setter);
      $('#page-setter').attr('max', table.page.info().pages)
      $('#page-setter').change( function() {
          table.page($('#page-setter').val()-1).draw( 'page' );
      } );
      $('#dataTable_length').change( function() {
          $('#page-setter').attr('max', table.page.info().pages)  
          $('#page-setter').prop('value', "")  
      } );

    } );
</script>