<div class="card shadow mb-4 border-left-warning h-100 py-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-warning">Projets <span class="far fa-question-circle collapse-item text-dark" data-toggle="modal" data-target="#projectStatusInfo"></span></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
        const data = <%- data %>;
        const columns = JSON.parse('<%- columns %>');
    
        var table = $('#dataTable').DataTable( {
            "language": {
                "lengthMenu": "Afficher _MENU_ par page",
                "zeroRecords": "Aucun éléments",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucun enregistrement disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Rechercher",
                "paginate": {
                    "first":	"Premier",
                    "previous":	"Pr&eacute;c&eacute;dent",
                    "next":	"Suivant",
                    "last":	"Dernier"
                }
            },
            "order": [[ 0, "asc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "pageLength": 100,
            "dom": '<"d-flex m-1"<"mr-auto"l><f>><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
            "data": data,
            "columns": columns,
            "autoWidth": false,
            "columnDefs": [ {
              "targets": 8,
              "data": "priority",
              "render": function ( data, type, row, meta ) {
                return '<p hidden>' + data +'</p> <select class="custom-select custom-select-sm project_priority" value=><option value="low">Low</option><option value="normal" selected>Normal</option><option value="high">High</option></select>';
              }
            } ],
            "createdRow": function( row, data, dataIndex, cells ) {   
              $('select', cells[8])[0].value = data.project_priority;
            },
            "rowCallback": function( row, data, index ) {

            var id = $('td:eq(0)', row);
            id.html('<a href="<%= base %>/project/'+data.project_id+'">'+data.project_id+'</a>')

            var name = $('td:eq(1)', row);
            name.html('<a href="<%= base %>/project/'+data.project_id+'">'+data.project_name+'</a>')

              if (data.running > 0) {
                $('td, a', row).addClass('text-warning');
              } else {
                if (data.ready > 0) {
                  $('td, a', row).addClass('text-primary');
                } else {
                  if (data.waiting > 0) {
                    $('td, a', row).addClass('text-secondary');
                  } if (data.done == data.total) {
                    $('td, a', row).addClass('text-success');
                  } if (data.failed > 0) {
                    $('td, a', row).addClass('text-danger');
                  }
                }
              }

              if (data.failed > 0) {
                var failed = $('td:eq(6)', row);
                failed.html(data.failed+' <i class="fas fa-exclamation-triangle text-danger"></i>')
              }
            }
        }
          
        );
        // Add event listener for actions
        $('#dataTable tbody').on('click', 'button.del_project', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            deleteOneProject(row.data().project_id, row.data().project_name);
        } );
        $('#dataTable tbody').on('click', 'button.view_project', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            window.location.href = `/project/${row.data().project_id}`;
        } );
        $('.project_priority').change( function(event) {
            var table = $('#dataTable').DataTable();
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            setPriorityOneProject(row.data().project_id, event.target.value);
        } );
      var i = jQuery('<i></i>');
      i.addClass('fas fa-trash fa-1x')
        
      var buttonDelFilteredProject = jQuery('<button></button>');
      buttonDelFilteredProject.addClass('btn btn-danger');
      buttonDelFilteredProject.attr('type', 'button')
            .attr('data-toggle', "tooltip")
            .attr('title', 'Supprime tous les projets visibles')
            .attr('onclick', 'deleteFilteredProjects()')
            .append(i)
            .append(' Supprimer les projets visibles');
      $("div.toolbar_tab").append(buttonDelFilteredProject);

      function changePriorityFilteredProjects(priority){
        var selectsFiltered = $('.project_priority')
        selectsFiltered.each(function(select) {
          $(this)[0].value = priority        
        });
        setPriorityFilteredProjects(priority) 
      }

      var buttonPriorityFilteredProject = jQuery('<div class="btn-group"><button type="button" class="btn btn-primary ml-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Changer la priorité des projets visibles </button>');
      var dropdownMenu = jQuery('<div class="dropdown-menu"></div>');
      var lowItem = jQuery('<a class="dropdown-item" href="#">Low</a>');
      lowItem.on('click', function () { changePriorityFilteredProjects("low") } );
      var normalItem = jQuery('<a class="dropdown-item" href="#">Normal</a>');
      normalItem.on('click', function () { changePriorityFilteredProjects("normal") } );
      var highItem = jQuery('<a class="dropdown-item" href="#">High</a>');
      highItem.on('click', function () { changePriorityFilteredProjects("high") } );
    
      dropdownMenu.append(lowItem)
      dropdownMenu.append(normalItem)      
      dropdownMenu.append(highItem)      
      buttonPriorityFilteredProject.append(dropdownMenu)
      $("div.toolbar_tab").append(buttonPriorityFilteredProject);
      
    } );
  </script>