<div class="card shadow mb-4 border-left-warning h-100 py-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-warning">Projets</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
        const data = <%- data %>;
        const columns = JSON.parse('<%- columns %>');
    
        var table = $('#dataTable').DataTable( {
            "language": {
                "lengthMenu": "Afficher _MENU_ par page",
                "zeroRecords": "Aucun éléments",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucun enregistrement disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Rechercher",
                "paginate": {
                    "first":	"Premier",
                    "previous":	"Pr&eacute;c&eacute;dent",
                    "next":	"Suivant",
                    "last":	"Dernier"
                }
            },
            "order": [[ 0, "asc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "pageLength": 100,
            "dom": '<"d-flex m-1"<"mr-auto"l><f>><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
            "data": data,
            "columns": columns,
            "autoWidth": false,
            "createdRow": function( row, data, dataIndex, cells ) {
                $('button', cells[3])[0].innerText = data.priority;
            },
            "rowCallback": function( row, data, index ) {

            var id = $('td:eq(0)', row);
            id.html('<a href="<%= base %>/project/'+data.id+'">'+data.id+'</a>')

            var name = $('td:eq(1)', row);
            name.html('<a href="<%= base %>/project/'+data.id+'">'+data.name+'</a>')

            var status = data.status;
            switch(status){
                case "failed":
                    $('td, a', row).addClass('text-danger');
                    break;
                case "running":
                    $('td, a', row).addClass('text-warning');
                    break;
                case "waiting":
                    $('td, a', row).addClass('text-secondary');
                    break;
                case "done":
                    $('td, a', row).addClass('text-success');
                    break;
                case "ready":
                    $('td, a', row).addClass('text-primary');
                    break;
            }
        }
          } 
        );
        // Add event listener for actions
        $('#dataTable tbody').on('click', 'button.del_project', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            deleteProject(row.data().id, row.data().name);
        } );
        $('#dataTable tbody').on('click', 'button.view_project', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            window.location.href = `/project/${row.data().id}`;
        } );
        $('#dataTable tbody').on('click', 'a.dropdown-item', function (event) {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            switch (event.target.innerText) {
                case 'Low':
                    setPriority(row.data().id, 'low');
                    break;

                case 'Normal':
                    setPriority(row.data().id, 'normal');
                    break;
                
                case 'High':
                    setPriority(row.data().id, 'high');
                    break;
            
                default:
                    break;
            }
        } );
      var i = jQuery('<i></i>');
      i.addClass('fas fa-trash fa-1x')
      
      var i2 = jQuery('<i></i>');
      i2.addClass('fas fa-trash fa-1x')
  
      var buttonDelFilteredProject = jQuery('<button></button>');
      buttonDelFilteredProject.addClass('btn btn-danger');
      buttonDelFilteredProject.attr('type', 'button')
            .attr('data-toggle', "tooltip")
            .attr('title', 'Supprime tous les projets visibles')
            .attr('onclick', 'deleteFilteredProjects()')
            .append(i2)
            .append(' Supprimer les projets visibles');
      $("div.toolbar_tab").append(buttonDelFilteredProject);
    } );
  </script>