<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dépendances</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTableDeps" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
  <script>

    $(document).ready(function() {
        const data = JSON.parse('<%- data %>');
        const columns = JSON.parse('<%- columns %>');

        var table = $('#dataTableDeps').DataTable( {
            "language": {
                "lengthMenu": '<div class="input-group input-group-sm"><div class="input-group-prepend"><label class="input-group-text">Items par page</label></div>_MENU_</div>',
                "zeroRecords": "Aucun éléments",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucun enregistrement disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Rechercher",
                "paginate": {
                    "first":	"Premier",
                    "previous":	"Pr&eacute;c&eacute;dent",
                    "next":	"Suivant",
                    "last":	"Dernier"
                }
            },
            "order": [[ 0, "asc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "pageLength": 10,
            "dom": '<"d-flex m-1"<"mr-auto"f><"mr-2"l><"#pagination-deps">><"d-flex m-1"<"mr-auto toolbar_tab"><p>>t<"d-flex m-1"<"mr-auto"i><p>>',
            "data": data,
            "columns": columns,
            "rowCallback": function( row, data, index ) {

              var id = $('td:eq(1)', row);
              id.html('<a href="<%= base %>/project/'+data.project_id+'">'+data.project_id+'</a>')

              var name = $('td:eq(2)', row);
              name.html('<a href="<%= base %>/project/'+data.project_id+'">'+data.project_name+'</a>')

              if (data.running > 0) {
                  $('td, a', row).addClass('text-warning');
                } else {
                  if (data.ready > 0) {
                    $('td, a', row).addClass('text-primary');
                  } else {
                    if (data.waiting > 0) {
                      $('td, a', row).addClass('text-secondary');
                    } if (data.done == data.total) {
                      $('td, a', row).addClass('text-success');
                    } if (data.failed > 0) {
                      $('td, a', row).addClass('text-danger');
                    }
                  }
                }
          } 
        });


      //gestion du choix de la page
      var group_page_setter = jQuery('<div class="input-group input-group-sm">'+
                                      '<div class="input-group-prepend">'+
                                        '<label class="input-group-text">Aller à la page</label>'+
                                      '</div>'+
                                      '<input type="number" class="form-control" id="page-setter-deps" name="" min="1" style="width: 70px;" autocomplete="off"/>'+
                                    '</div>')  
      $("#pagination-deps").append(group_page_setter);
      $('#page-setter-deps').attr('max', table.page.info().pages)
      $('#page-setter-deps').change( function() {
          table.page($('#page-setter-deps').val()-1).draw( 'page' );
      } );
      $('#dataTableDeps_length').change( function() {
          $('#page-setter-deps').attr('max', table.page.info().pages)  
          $('#page-setter-deps').prop('value', "")  
      } );

    } );
</script>