<!-- views/partials/job_log.ejs -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Log</h6>
    </div>
    <div id="job_log" style="white-space: pre-line;" class="card-body">
        <%= job.job_log %>
    </div>
  </div>
  